body{
    background-image:url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg);
}
.box{
    align-items: center;
    margin: 10px;
    padding: 20px;
}
.innerbox {
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background:linear-gradient(to right, rgb(135, 135, 235),rgb(163, 152, 157));

}
.id{
    font-weight: bolder;
    font-size: xx-large;
    color:red;
}

.rating{
    color:red;
    font-weight: bolder;
}
.title{
    color:red;
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
    height:50px;
    width: 100px;
}
.desc{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: fit-content;
    height: fit-content;
    width:50%;
}
a{
    color:red;
}